<div class="oj-flex oj-sm-padding-4x oj-sm-flex-direction-column">

    <!-- Ticket staus, rating and buttons -->
    <div class="oj-flex oj-sm-padding-2x-bottom">
        <span class="oj-sm-5 oj-sm-padding-4x-end oj-text-sm" data-bind="text: ticketStatus(status())"></span>
        
        <oj-bind-if test="[[status() != 'Closed']]">
            <oj-button 
                class="oj-flex-item oj-sm-padding-1x-end" 
                on-oj-action='[[scrollToReply]]'>
                <span slot='startIcon' class='fas fa-reply'></span>
                Reply
            </oj-button>

            <oj-button 
                class="oj-flex-item oj-sm-padding-1x-end" 
                on-oj-action='[[escalatePriority]]' 
                disabled="[[priority() === 1]]">
                <span slot='startIcon' class='fas fa-hand-point-up'></span>
                Escalate Priority
            </oj-button>

            <oj-button 
                class="oj-flex-item oj-sm-padding-1x-end" 
                on-oj-action='[[confirmCloseDialog]]'>
                <span slot='startIcon' class='fas fa-times-circle'></span>
                Close Ticket
            </oj-button>
        </oj-bind-if>

        <oj-bind-if test="[[status() == 'Closed']]">
            <div class="oj-sm-6 oj-flex oj-sm-justify-content-flex-end">
                <oj-rating-gauge 
                    id="closed-ticket-rating" 
                    class="oj-sm-6 oj-flex-item"
                    value="{{closedTicketRatingValue}}"
                    on-value-changed="[[ratingValueChanged]]"
                    selected-state.color="#E74C3C"
                    readonly="[[closedTicketRatingValue() > 0]]"
                    style="height:30px;">
                </oj-rating-gauge>
           </div>
       </oj-bind-if>
       
    </div>
    <!-- Ticket staus, rating and buttons -->

    <!-- Ticket header information -->
    <div class="oj-flex oj-sm-padding-4x-vertical">

        <div class="oj-sm-1 oj-sm-padding-3x-top">
            <oj-avatar role="img" aria-label="Author Avatar" size="xs">
            </oj-avatar>
        </div>

        <div class="oj-sm-8 oj-sm-flex-direction-column">
            <h2 data-bind="text: title"></h2>
            <div data-bind="text: author"></div>
            <oj-bind-if test='[[attachment()[0]]]'>
                <div class="oj-flex oj-sm-padding-2x-top">
                    <span class="fas fa-paperclip"></span>
                    <div class="oj-sm-padding-1x-horizontal" data-bind="text: attachment()[0].filePath"></div>
                    (<div data-bind="text: attachment()[0].fileSize"></div>)
                </div>
            </oj-bind-if>
        </div>

        <div class="oj-sm-2 oj-text-sm oj-sm-padding-2x-vertical">
            <div data-bind="text: dateDifference(dateCreated())" :title="[[formatDate(dateCreated())]]">
            </div>
        </div>

        <div class="oj-sm-1"></div>
    </div>
    <!-- Ticket header information -->

    <!-- Ticket message -->
    <div class="oj-flex oj-sm-padding-2x-vertical">
        <div class="oj-sm-1"></div>
        <div class="oj-sm-9 oj-sm-padding-4x-bottom" data-bind="html: message"></div>
        <div class="oj-sm-2"></div>
    </div>
    <!-- Ticket message -->

    <!-- List to render ticket replies -->
    <oj-list-view 
        id="reply-list-view" 
        aria-label="ticket reply list" 
        class="oj-sm-12" 
        translations.msg-no-data="There are currently no replies to this ticket. If you need to add extra information please reply to the ticket below."
        data="[[ticketRepliesDataSource]]" 
        item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('ticket-replies-template', true)]]">
    </oj-list-view>
    <!-- List to render ticket replies -->

    <!-- List Template -->
    <script type="text/html" id="ticket-replies-template">
        <li data-bind="attr: {id: $data['id']}">
            <!-- First row of list item, sets up the item header -->
            <div class="oj-flex oj-sm-padding-4x-vertical" 
                data-bind="style: { flexDirection: author !== $parent.author() ? 'row-reverse' : '' }">

                <div class="oj-flex-item oj-sm-1 oj-sm-padding-2x-top"
                    data-bind="css: author !== $parent.author() ? 'oj-sm-padding-4x-start' : 'oj-sm-padding-4x-end'">
                    <oj-avatar 
                        role="img" 
                        aria-label="User Avatar" 
                        size="xs">
                    </oj-avatar>
                </div>

                <div class="oj-sm-8 oj-sm-flex-direction-column">
                    <h2 data-bind="text: 'RE: ' + $parent.title(),
                                    style: { textAlign: author !== $parent.author() ? 'right' : '' }">
                    </h2>
                    <div data-bind="text: author,
                                    style: { textAlign: author !== $parent.author() ? 'right' : '' }">
                    </div>
                    <oj-bind-if test='[[attachment[0]]]'>
                        <div class="oj-flex oj-sm-padding-2x-top" data-bind="style: { textAlign: author !== $parent.author() ? 'right' : '' }">
                            <span class="fas fa-paperclip"></span>
                            <div class="oj-sm-padding-1x-horizontal" data-bind="text: attachment[0].filePath"></div>
                            (<div data-bind="text: attachment[0].fileSize"></div>)
                        </div>
                    </oj-bind-if>
                </div>

                <div class="oj-sm-2 oj-text-sm oj-sm-padding-2x-vertical">
                    <div 
                        data-bind="text: $parent.dateDifference(timestamp)" 
                        :title="[[$parent.formatDate(timestamp)]]">
                    </div>
                </div>

                <div class="oj-sm-1">
                </div>
            </div>
          
            <!-- Second row in list item, outputs the message content -->
            <div class="oj-flex oj-sm-padding-2x-vertical">
                <div class="oj-sm-1"></div>
                <div class="oj-sm-10 oj-sm-padding-4x-bottom" 
                    data-bind="html: note"></div>
                <div class="oj-sm-1"></div>
            </div>
        </li>
    </script>
    <!-- List Template -->

    <h3 class="oj-sm-padding-4x">Reply</h3>
    <div id="ticket-reply-area"></div>
    <div class="oj-flex-bar">
        <div class="oj-flex-bar-start oj-sm-align-items-center">
            <oj-file-picker class='oj-filepicker-custom oj-sm-padding-2x-end'
                id="fileUpload"
                selectOn='click'
                on-oj-select='[[fileSelectionListener]]'
                accept="[[allowedFileTypes]]"
                selection-mode='single'>
                <oj-button slot='trigger'> 
                    <span slot='startIcon' class='fas fa-upload'></span>
                    Upload
                </oj-button>
            </oj-file-picker>
            <oj-bind-if test='[[uploadedFile()[0]]]'>
                <oj-bind-text value="[[uploadedFile()[0].name]]"></oj-bind-text>
            </oj-bind-if>
        </div>
        <div class="oj-flex-bar-end">
            <oj-button id='reply-button' on-oj-action='[[ticketReply]]'
                disabled="[[status() === 'Closed']]">
                  <span slot='startIcon' class='fas fa-reply'></span>
                  Reply
            </oj-button>             
        </div>
    </div>
</div>

<oj-dialog style="display:none" id="close-confirmation-dialog" title="Confirm Closure">
    <div slot="body">
        Are you sure you wish to close this ticket?

        <oj-label for="closure-reason" class="oj-sm-padding-4x-top">Reason for closure</oj-label>
        <oj-select-one id="closure-reason" value="{{closureReason}}">
            <oj-option value="Ticket Answered">Ticket answered</oj-option>
            <oj-option value="Workaround Provided">Workaround Provided</oj-option>
            <oj-option value="No longer an issue">No longer an issue</oj-option>
            <oj-option value="Other">Other</oj-option>
        </oj-select-one>
    </div>
    <div slot="footer">
        <oj-button id="cancel-close" on-oj-action="[[closeDialog]]">Cancel
        </oj-button>
        <oj-button id="confirm-close" class='oj-button-confirm' on-oj-action="[[closeTicket]]">Close
        </oj-button>
    </div>
</oj-dialog>
    