.list-view-container {
    height: calc(100vh - 175px);
}

.left-column-container {
    box-shadow: 0 8px 12px 0 $neutral-color;
}

.tabbar-container {
    background-color:$neutral-color;
}

.view-ticket-container {
    height: calc(100vh - 161px);
    overflow-y: scroll
}

.support-rep-container {
    background-color: $neutral-color;
}

#create-new-ticket {
    background-color: $neutral-color;
}